.active {
  color: red;
}
.navbar {
  margin-bottom: 450px;
  display: inline-block;
  position: fixed;
}
.NavLink {
  margin-left: 15px;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;

}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-link {
  display: inline-block;
  margin-top: 10px;
  color: #4caf50;
  text-decoration: none;
}
